@use "base/base";
@use "base/typographie";

nav {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

nav a, a  {
    
    color: #FF6060;
    text-decoration: none;
    text-decoration-style: none;
    
    
}

.flex-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}