@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/keyframes" as *;

body {

    display: flex;
    justify-content: center;


}

main {
    @include margBody;
    @include flexboxRow;
    flex-direction: column;
    align-items: normal;
    max-width: 1440px;


}

.back-home {
    text-decoration: underline;
}

#root {
    width: 90%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;

}

.flex-error {
    @include flexboxColumn
}

footer {


    width: 100%;

    overflow: hidden;

}

header {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.banner {
    @include bannerFormat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}

.img-banner {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    filter: brightness(50%);

}

.flexColumn {
    @include flexColumn
}

.format-card {
    @include cardFormat
}

.img-card {
    @include imgCard
}

.flex-logements {
    @include flexLogement
}

.conteneur-card {
    @include conteneurCard
}

.objfill {
    @include objfill;
}

.bloc-red {
    @include descriptionred;

    position: relative;
}

.bloc-red-fiche {
    @include descriptionredfichelogement;

    position: relative;
}

.flex-fiche-descri {
    @include flexSpaceBeet;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.flex-descri-droite {
    @include flexSpaceBeet;
    align-items: center;
    justify-content: end
}

.flex-descri-globale {
    @include flexSpaceBeet;
    align-items: center;

}



.flex-description {
    @include flexboxColumn;
    overflow: hidden;
}

.flex-row {
    @include felxRowSpaceBeet
}

.bloc-grey {
    @include descriptiongrey
}

.bloc-grey-fiche {
    @include descriptiongreyfichelogement
}


.animation-descritpion {
    @include animationdescription
}

.wibloc {
    width: 45%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.flex-center {
    display: flex;
    justify-content: center;
}


.visible {
    display: block;
}


.hidden {
    display: none;
}

.about-panel {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.arrow-trigger {

    cursor: pointer;
    transform: rotate(180deg);
    transition: 1s;
}

.description-panel {
    background-color: #F6F6F6;
    height: auto;
    border-radius: 15px;
    position: relative;

    visibility: visible;
    top: -20px;
    animation: slide-in 1, 5s ease-in-out;
    transform: translateY(-100%);
    transition: 1s;


}


.description-panel {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: -20px;
    animation: slide-in 1, 5s ease-in-out;
    transform: translateY(0);
    transition: 1s;
}




.arrow-trigger {

    cursor: pointer;
    transition: 1s;
    rotate: 0;
}

.descri-fiche {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}


.grey-fiche {
    height: max-content;
    background-color: #f6f6f6;
    font-size: 1.3em;
    padding: 0px 20px;
    padding-bottom: 5px;
    position: relative;
    margin-top: 0px;
    border-radius: 15px;

}

.arrow-descritpion.active {
    position: relative;
    opacity: 1;
    visibility: visible;

    animation: slide-in 1, 5s ease-in-out;
    transform: translateY(0);
    transition: 1s;

}

.arrow-descritpion.inactive {
    position: relative;
    opacity: 0;
    visibility: hidden;

    animation: slide-in 1, 5s ease-in-out;
    transform: translateY(-100%);
    transition: 1s;
    margin-bottom: -40px;

}

.bloc-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wibloc {
        width: 80%;
    }

}

.arrow-b.inactive {

    cursor: pointer;
    transition: 1s;
    rotate: 0;


}

.arrow-b.active {
    cursor: pointer;
    transform: rotate(180deg);
    transition: 1s;
}

.format-carrousel {
    @include carrousel
}

.rond-gris {
    @include rondgrisformat
}

.tag-format {
    @include tagformat;

}

.marg-r {
    margin-right: 10px;
}

.marg-l {
    margin-left: 10px;
}


.arrow-carrou {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.marg-descri {

    margin-bottom: -20px;

}

.stars {
    display: flex;
    flex-direction: row;

}

.little-logo {

    display: none;
}

.logo-mob {
    display: none;
}

.error-mob {
    display: none;
}

@media all and (max-width:768px) {

    .flex-row-media {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .flex-descri-globale {
        flex-direction: column;
        align-items: flex-start;
    }


    .flex-fiche-descri {
        flex-direction: column;
    }

    .descri-fiche {
        flex-direction: column;
    }

    .flex-fiche-descri {
        width: 100%;
    }

    .wibloc {
        width: 100%;
    }

    .arrow-descritpion.inactive {
        margin-bottom: -60px;
    }

    .little-logo {

        display: block;
    }

    .normal-logo {
        display: none;
    }

    .conteneur-card {
        background-color: transparent;
    }

    #root {
        width: 95%;
        padding: 0;
    }

    .flex-logements {
        gap: 0;
    }

    .format-card {

        height: 255px;
    }

    .banner {
        margin-bottom: 0;
    }

    .format-carrousel {
        height: 255px;
    }

    .current-slide {
        display: none;
    }

    .error-desk {
        display: none;
    }

    .error-mob {
        display: block;
    }

    .bloc-about {
        margin-top: 20px;
    }
}


@media all and (max-width:1440px) {

    .flex-logements {


        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

@media all and (max-width:440px) {
    .logo-mob {
        display: flex;
    }

    .logo-desk {
        display: none;
    }
}