@use "../utils/variables" as *;
@use "../utils/mixins" as *;

h1 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    
    position: absolute;
    
    
    color: white;
}

h2 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    
    color: #FF6060;
}

h3 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    width: 320px;
    bottom:68px;
    color: white;
    padding-left : 10px;
    display: flex;
    flex-wrap: wrap;
}

h4 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: relative;
   
    color: white;
    padding-left : 10px;
    display: flex;
   
}
h5 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    
    color: #FF6060;
}

h6 {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    
    color:white;
}
p {
    padding: 10px;
   
}


    
nav a,a {
    margin-left: 20px;
}
span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    
    color:white;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    &nav--a {
        font-size: 24px;
    }
}

li {
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-right: 30px;
    color: #FF6060;

list-style-type: none;
}

@media all  and (max-width:820px) {


    h1 {
        font-size: 24px;
    }
    h2{
    font-size: 18px;
    }
}

@media all  and (max-width:420px) {
    a{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
    h2{
        font-size: 18px;
    }
    .marg-descri{
        margin-bottom: -16px;
    }
    .rond-gris {
        width: 46px;
        height: 46px;
    }
    .bloc-red-fiche{
        height: 30px;
        border-radius: 10px;
    }
}