@keyframes slide-in {

    from {
        transform: translateY(-100%);
    }
   
    
    }

    @keyframes opa {

        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        
        }
