@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
body {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: normal;
  max-width: 1440px;
  height: auto;
}

.flex-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner {
  width: 100%;
  height: 223px;
  border-radius: 35px;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
  filter: brightness(50%);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.format-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 340px;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(85%);
  border-radius: 15px;
}

.flex-logements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 50px;
}

.conteneur-card {
  background-color: #F6F6F6;
  border-radius: 35px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objfill {
  object-fit: fill;
}

.bloc-red {
  background-color: #FF6060;
  height: 52px;
  border-radius: 15px;
  z-index: 5;
  position: relative;
}

.bloc-red-fiche {
  background-color: #FF6060;
  width: 582px;
  height: 52px;
  border-radius: 15px;
  z-index: 5;
  position: relative;
}

.flex-fiche-descri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-descri-droite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
}

.flex-descri-globale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bloc-grey {
  background-color: #F6F6F6;
  height: auto;
  border-radius: 15px;
}

.bloc-grey-fiche {
  background-color: #F6F6F6;
  width: 582px;
  height: auto;
  border-radius: 15px;
}

.animation-descritpionanimation___descritpion {
  overflow: hidden;
  transition-duration: 1s;
  transform: translateY(0);
  visibility: hidden;
}
.animation-descritpionanimation___descritpion:active {
  visibility: visible;
  transform: translateY(100%);
}

.wibloc {
  width: 100%;
}

/*
.arrow-descritpion {
    position: relative;
    z-index: -10;
    margin-top: auto;
    transition: 1s;
    height: 0px;
    opacity: 0;
    transform: translateY(-100%) ; 

    &--anim {

        transform: translateY(0);
    }

 }
*/
.arrow-descritpion.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  top: -20px;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(0);
  transition: 1s;
}

.arrow-descritpion.inactive {
  position: relative;
  opacity: 0;
  visibility: hidden;
  top: -20px;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(-100%);
  transition: 1s;
}

.arrow-b.inactive {
  cursor: pointer;
  transition: 1s;
  rotate: 0;
}

.arrow-b.active {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s;
}

/*
.animation-description {

    &:active + .arrow-descritpion{

        opacity: 100%;
        transform:  translateY(0);
        height: 100%;
        z-index: -20;

    }

}
*/
.format-carrousel {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 445px;
  object-fit: none;
}
.format-carrousel .btn {
  position: absolute;
  width: 10%;
  cursor: pointer;
  object-fit: contain;
  opacity: 1;
  box-shadow: none;
  bottom: 0;
  top: 0;
  z-index: 20;
}
.format-carrousel .btn.arrow-carrou-next {
  right: 0;
}
.format-carrousel .btn.arrow-carrou-back {
  left: 0;
}
.format-carrousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 2px #000;
  opacity: 0;
}
.format-carrousel img.currentImg {
  opacity: 1;
}

.rond-gris {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.tag-format {
  width: 125px;
  height: 25px;
  background-color: #FF6060;
  border-radius: 10px;
  color: #F6F6F6;
}

.marg-r {
  margin-right: 10px;
}

.marg-l {
  margin-left: 10px;
}

.arrow-carrou {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marg-descri {
  margin-bottom: -20px;
}

.stars {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 600px) {
  .flex-row-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .flex-descri-globale {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-fiche-descri {
    flex-direction: column;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  position: absolute;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  width: 320px;
  bottom: 68px;
  color: white;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  color: white;
  padding-left: 10px;
  display: flex;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

p {
  padding: 10px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
anav--a {
  font-size: 24px;
}

li {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FF6060;
  list-style-type: none;
}

nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

nav a, a {
  color: #FF6060;
  text-decoration: none;
  text-decoration-style: none;
  margin-left: 50px;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
