@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  display: flex;
  justify-content: center;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: normal;
  max-width: 1440px;
}

.back-home {
  text-decoration: underline;
}

#root {
  width: 90%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.flex-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  overflow: hidden;
}

header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner {
  width: 100%;
  height: 223px;
  border-radius: 35px;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
  filter: brightness(50%);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.format-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 340px;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(85%);
  border-radius: 15px;
}

.flex-logements {
  display: flex;
  gap: 50px;
  padding-top: 50px;
  width: 95%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: space-between;
}

.conteneur-card {
  background-color: #F6F6F6;
  border-radius: 35px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objfill {
  object-fit: fill;
}

.bloc-red {
  background-color: #FF6060;
  height: 52px;
  border-radius: 15px;
  z-index: 5;
  position: relative;
}

.bloc-red-fiche {
  background-color: #FF6060;
  height: 52px;
  border-radius: 15px;
  z-index: 5;
  position: relative;
}

.flex-fiche-descri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.flex-descri-droite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
}

.flex-descri-globale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bloc-grey {
  background-color: #F6F6F6;
  height: auto;
  border-radius: 15px;
}

.bloc-grey-fiche {
  background-color: #F6F6F6;
  width: 582px;
  height: auto;
  border-radius: 15px;
}

.animation-descritpionanimation___descritpion {
  overflow: hidden;
  transition-duration: 1s;
  transform: translateY(0);
  visibility: hidden;
}
.animation-descritpionanimation___descritpion:active {
  visibility: visible;
  transform: translateY(100%);
}

.wibloc {
  width: 45%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.flex-center {
  display: flex;
  justify-content: center;
}

/* affiche le contenu */
.visible {
  display: block;
}

/* cache le contenu */
.hidden {
  display: none;
}

.about-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.arrow-trigger {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s;
}

.description-panel {
  background-color: #F6F6F6;
  height: auto;
  border-radius: 15px;
  position: relative;
  visibility: visible;
  top: -20px;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(-100%);
  transition: 1s;
}

.description-panel {
  position: relative;
  opacity: 1;
  visibility: visible;
  top: -20px;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(0);
  transition: 1s;
}

.arrow-trigger {
  cursor: pointer;
  transition: 1s;
  rotate: 0;
}

.descri-fiche {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.grey-fiche {
  height: max-content;
  background-color: #f6f6f6;
  font-size: 1.3em;
  padding: 0px 20px;
  padding-bottom: 5px;
  position: relative;
  margin-top: 0px;
  border-radius: 15px;
}

.arrow-descritpion.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(0);
  transition: 1s;
}

.arrow-descritpion.inactive {
  position: relative;
  opacity: 0;
  visibility: hidden;
  top: -20px;
  animation: slide-in 1, 5s ease-in-out;
  transform: translateY(-100%);
  transition: 1s;
  margin-bottom: -40px;
}

.bloc-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-about .wibloc {
  width: 80%;
}

.arrow-b.inactive {
  cursor: pointer;
  transition: 1s;
  rotate: 0;
}

.arrow-b.active {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s;
}

.format-carrousel {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 445px;
  object-fit: none;
}
.format-carrousel .current-slide {
  position: absolute;
  color: #F6F6F6;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
}
.format-carrousel .btn {
  position: absolute;
  width: 10%;
  cursor: pointer;
  object-fit: contain;
  opacity: 1;
  box-shadow: none;
  bottom: 0;
  top: 0;
  z-index: 20;
}
.format-carrousel .btn.arrow-carrou-next {
  right: 0;
}
.format-carrousel .btn.arrow-carrou-back {
  left: 0;
}
.format-carrousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 2px #000;
  opacity: 0;
}
.format-carrousel img.currentImg {
  opacity: 1;
}

.rond-gris {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.tag-format {
  width: 125px;
  height: 25px;
  background-color: #FF6060;
  border-radius: 10px;
  color: #F6F6F6;
}

.marg-r {
  margin-right: 10px;
}

.marg-l {
  margin-left: 10px;
}

.arrow-carrou {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marg-descri {
  margin-bottom: -20px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.little-logo {
  display: none;
}

.logo-mob {
  display: none;
}

.error-mob {
  display: none;
}

@media all and (max-width: 768px) {
  .flex-row-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .flex-descri-globale {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-fiche-descri {
    flex-direction: column;
  }
  .descri-fiche {
    flex-direction: column;
  }
  .flex-fiche-descri {
    width: 100%;
  }
  .wibloc {
    width: 100%;
  }
  .arrow-descritpion.inactive {
    margin-bottom: -60px;
  }
  .little-logo {
    display: block;
  }
  .normal-logo {
    display: none;
  }
  .conteneur-card {
    background-color: transparent;
  }
  #root {
    width: 95%;
    padding: 0;
  }
  .flex-logements {
    gap: 0;
  }
  .format-card {
    height: 255px;
  }
  .banner {
    margin-bottom: 0;
  }
  .format-carrousel {
    height: 255px;
  }
  .current-slide {
    display: none;
  }
  .error-desk {
    display: none;
  }
  .error-mob {
    display: block;
  }
  .bloc-about {
    margin-top: 20px;
  }
}
@media all and (max-width: 1440px) {
  .flex-logements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media all and (max-width: 440px) {
  .logo-mob {
    display: flex;
  }
  .logo-desk {
    display: none;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  position: absolute;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  width: 320px;
  bottom: 68px;
  color: white;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  color: white;
  padding-left: 10px;
  display: flex;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
}

p {
  padding: 10px;
}

nav a, a {
  margin-left: 20px;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
anav--a {
  font-size: 24px;
}

li {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-right: 30px;
  color: #FF6060;
  list-style-type: none;
}

@media all and (max-width: 820px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
@media all and (max-width: 420px) {
  a {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .marg-descri {
    margin-bottom: -16px;
  }
  .rond-gris {
    width: 46px;
    height: 46px;
  }
  .bloc-red-fiche {
    height: 30px;
    border-radius: 10px;
  }
}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

nav a, a {
  color: #FF6060;
  text-decoration: none;
  text-decoration-style: none;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
